@font-face {
  font-family: "iconfont"; /* Project id 4586046 */
  src: url('iconfont.woff2?t=1734266065924') format('woff2'),
       url('iconfont.woff?t=1734266065924') format('woff');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xingbienan:before {
  content: "\e631";
}

.icon-xingbienv:before {
  content: "\e632";
}

.icon-qiehuanyonghu:before {
  content: "\e606";
}

.icon-xinzeng1:before {
  content: "\e61d";
}

.icon-bianbian1:before {
  content: "\e6f6";
}

.icon-yonghu:before {
  content: "\e6f2";
}

